@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #eef0f2;
}

.wrapper {
  max-width: 450px;
  position: relative;
  border-radius: 5px;
  border-top-right-radius: 20px;
  margin-top: 10vh;
  padding: 2rem;
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s;
}

.wrapper.hidden {
  transform: scale(0);
}

img {
  width: 100%;
}
.close-icon {
  width: 80%;
  height: 80%;
}

.close-btn {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  &:hover {
    transform: rotate(90deg);
  }
  &:active {
    transform: scale(0.5);
  }
}

.tree {
  width: 60px;
  margin: 0 auto;
}

.card-title {
  margin-bottom: 2em;
  color: #000000da;
  /* transform: translate(100px); */
}

.card-btn {
  padding: 1.5em 4.5em;
  color: #ffffffcd;
  font-weight: bold;
  background-color: #232e4d;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 20px #00000044;
  margin-top: 2em;
  cursor: pointer;

  &:hover {
    background-color: #232e4de5;
  }
  &:active {
    background-color: #4a62a2e5;
  }
  /* &:focus {
    outline: 1px dashed black;
  } */
}

.card-offer {
  color: #e3a857;
  padding: 1em;
}
.card-text {
  color: #000000d7;
}

.snow {
  width: 7px;
  height: 7px;
  position: absolute;
  /* background-color: #fff; */
  background-color: #000;
  border-radius: 50%;
  top: -7px;
  left: 0px;
  animation: fall 3s linear forwards;
  z-index: -1;
}

@keyframes fall {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
