* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: rgb(73, 73, 73);
}

.company-logo {
  width: 80px;
  aspect-ratio: 1/1;
}

header {
  display: flex;
  padding: 0 2em 0;
  align-items: center;
  /* border: 1px solid var(--primary-color); */
  min-width: 420px;
  max-width: 1200px;
  margin-inline: auto;
}

header nav {
  margin-left: auto;
}

header ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-weight: bold;
  color: var(--primary-color);
}

header ul a {
  text-decoration: none;
  color: inherit;
}
.body-wrapper {
  min-width: 420px;
}
.search-wrapper {
  display: flex;
  margin: 0.5em auto 1em;
  padding: -0 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  width: 60%;
  border-radius: 30px;
  min-width: 400px;
}

.search-wrapper img {
  width: 20px;
  height: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 5px 10px;
  border: none;
}

.search-input:focus {
  outline: none;
}

.search-wrapper:focus-within,
.search-wrapper:focus-within .search-input {
  background-color: rgba(241, 236, 236, 0.355);
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reastro-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0 1rem;
}

.card {
  border: 1px solid transparent;
  width: 250px;
  height: 300px;
  background-color: #f0f0f0;
  padding: 5px;
}
.card:hover {
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
.img-wrapper {
  width: 100%;
  height: 150px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
}

.text-info-wrapper {
  padding-left: 0.5em;
}
.restaurant-name {
  padding: 1em 0 0.4em 0;
}

.info-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-weight: 600;
  margin-block: 0.4em;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #000000;
}
