@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;700&family=Poppins:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: red;
  --ff: "Poppins", sans-serif;
  --test: 1px solid red;
  --text-shadow: 0 5px 10px #0004;
}
body {
  margin: 0;
  color: #fff;
  font-family: var(--ff);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.main-nav {
  display: flex;
  gap: 2em;
  height: 50px;
  align-items: center;
  position: relative;
  z-index: 100;
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.carousel {
  margin-top: -50px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.carousel__item {
  position: absolute;
  inset: 0 0 0 0;
}

.carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-wrpper {
  position: absolute;
  width: 80%;
  max-width: 1140px;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  padding-right: 30%;
  text-shadow: var(--text-shadow);
}

.title {
  font-size: 0.6rem;
  letter-spacing: 3px;
  /* border: var(--test); */
}

.author {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1.2;
}

.btn-wrapper {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 0.5em;
}

.btn-wrapper button {
  text-transform: uppercase;
  padding: 0.6em 1em;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  text-shadow: var(--text-shadow);
}

.btn-wrapper button:hover,
.btn-wrapper button:focus {
  background-color: #d4ffdad0;
  color: var(--secondary-color);
}

.btn-wrapper button:active {
  background-color: #d4ffdaf0;
}

.btn-wrapper .source-code-btn {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.thumbnail {
  position: absolute;
  left: 40%;
  bottom: 30px;
  display: flex;
  gap: 1em;
  z-index: 100;
}

.thumbnail__item {
  height: 220px;
  width: 150px;
  border-radius: 20px;
  overflow: hidden;
}

.thumbnail__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 540px) {
  .content-wrpper {
    padding-right: 0;
  }
}

/* animation */

/* text animation */
.carousel.next .carousel__item:nth-child(1) {
  z-index: 1;
}

.carousel.next .carousel__item:nth-child(1) .title,
.carousel.next .carousel__item:nth-child(1) .author,
.carousel.next .carousel__item:nth-child(1) .btn-wrapper {
  transform: translateY(-50px);
  filter: blur(20px);
  opacity: 0;
  animation: textEffect 1s linear 1s forwards;
}

@keyframes textEffect {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.carousel.next .carousel__item:nth-child(1) .title {
  animation-delay: 2.2s !important;
}

.carousel.next .carousel__item:nth-child(1) .author {
  animation-delay: 1.8s !important;
}

.carousel.next .carousel__item:nth-child(1) .btn-wrapper {
  animation-delay: 1.4s !important;
}

/* next button animation */

.carousel.next .carousel__item:nth-child(1) img {
  position: absolute;
  width: 150px;
  height: 220px;
  border-radius: 20px;
  left: 40%;
  bottom: 30px;
  animation: nextSlid 1s linear 0.5s forwards;
}

@keyframes nextSlid {
  to {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 1;
  }
}

.carousel.next .thumbnail__item:nth-last-child(1) {
  width: 0;
  animation: lastTumbnail 1s linear 0.6s forwards;
}

@keyframes lastTumbnail {
  to {
    width: 150px;
    transform: translateX(0);
  }
}

.carousel.next .thumbnail__item {
  transform: translateX(165px);
  animation: tumbnailLeftShift 1s linear 0.6s forwards;
}

@keyframes tumbnailLeftShift {
  to {
    transform: translateX(0px);
  }
}
