* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.main-container {
  background-color: #3662b8;
  width: 324px;
  height: 368px;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
}

.search-bar {
  margin: 1.5em;
  background-color: #517fd9;
  padding: 1.5em;
  border-radius: 0.4em;
}

.main-container p {
  margin-top: 1.4em;
  text-align: center;
  font-size: 1.5rem;
  color: #85a9f1;
}
.cta {
  margin: auto auto 1rem auto;
  width: 90%;
  background-color: #14274b;
  padding: 1rem 2.2rem;
  border-radius: 0.3em;
  color: #9fb8ea;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

cta:focus {
  outline: none;
}
