@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;700&family=Poppins:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: red;
  --ff: "Poppins", sans-serif;
  --textShadow: 0 0 20px #0000006f;
  --test: 1px solid red;
  --btn-active-bgcolor: white;
  --btn-active-color: black;
  --btn-hover-bgcolor: rgb(255, 255, 255);
  --btn-hover-color: black;
}
a {
  text-decoration: none;
  color: inherit;
}

a:focus-visible,
a:hover {
  outline: 1px solid rgba(0, 0, 0, 0.114);
  outline-offset: 6px;
}

a:active {
  color: var(--btn-hover-color);
  outline-color: var(--btn-hover-color);
}

ul {
  margin: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  border-radius: 4px;
}

button:focus-visible,
button:hover {
  background-color: var(--btn-hover-bgcolor);
  color: var(--btn-hover-color);
}

button:active {
  color: var(--btn-active-color);
  background-color: var(--btn-active-bgcolor);
}

body {
  margin: 0;
  font-family: var(--ff);
}

.main-nav {
  background-color: transparent;
  height: 50px;
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

.main-nav ul {
  display: flex;
  gap: 1.5em;
  align-items: center;
  height: 100%;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: var(--textShadow);
  color: var(--primary-color);
  text-transform: uppercase;
}
.wrapper {
  margin-top: -50px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item .content-wrapper {
  position: absolute;
  color: #fff;
  text-shadow: var(--textShadow);
  left: 50%;
  width: 80%;
  max-width: 1140px;
  transform: translateX(-50%);
  top: max(10vh, 10vw);
  /* border: var(--test); */
}

.carousel-item .title {
  font-size: 10px;
  letter-spacing: 3px;
  text-shadow: var(--textShadow);
}

.carousel-item .author {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: var(--textShadow);
  margin-right: 30%;
}

.carousel-item .button-wrapper {
  margin-top: max(5vh, 5vw);
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-template-rows: 30px;
  gap: 0.8em;
}

.sourceCode,
.more {
  --btn-hover-bgcolor: rgb(214, 248, 214);
  --btn-active-bgcolor: rgba(214, 248, 214, 0.785);
  text-transform: capitalize;

  letter-spacing: 1px;
}

.sourceCode {
  background-color: transparent;
  border: 1px solid #fff;
}
.more {
  color: black;
}

/* thumbnail style */
.thumbnail-list {
  position: absolute;
  left: 40%;
  bottom: 30px;
  display: flex;
  z-index: 100;
  gap: 0.5em;
}

.thumbnail-item {
  width: 150px;
  height: 220px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.thumbnail-item .content-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  color: #fff;
  text-shadow: var(--textShadow);
  text-transform: capitalize;
}

.thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow-btn-wrapper {
  position: absolute;
  bottom: 20%;
  z-index: 100;
  left: 50%;
  width: 80%;
  max-width: 1140px;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5em;
}

.arrow-btn-wrapper button {
  --btn-hover-bgcolor: #bbb9b9;
  --btn-active-bgcolor: #bbb9b9be;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-shadow: var(--textShadow);
}

.wrapper .carousel-item:nth-child(1) {
  z-index: 1;
}

/* starting default animation */
.wrapper .carousel-item .title,
.wrapper .carousel-item .author,
.wrapper .carousel-item .button-wrapper {
  transform: translateY(70px);
  filter: blur(20px);
  opacity: 0;
  animation: contentMotion 1s 1s linear forwards;
}

.wrapper .carousel-item .title {
  animation-delay: 1.8s;
}

.wrapper .carousel-item .author {
  animation-delay: 1.6s;
}

.wrapper .carousel-item .button-wrapper {
  animation-delay: 1.4s;
}

@keyframes contentMotion {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.wrapper.next .carousel-item:nth-child(1) img {
  position: absolute;
  width: 150px;
  height: 220px;
  left: 40%;
  bottom: 30px;
  border-radius: 20px;
  animation: carouselNextEffect 1s 0.5s linear forwards;
}

@keyframes carouselNextEffect {
  to {
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.wrapper.next .thumbnail-item {
  transform: translateX(170px);
  animation: ThumbnailNextEffect 1s 0.5s linear forwards;
}

@keyframes ThumbnailNextEffect {
  to {
    transform: translate(-50%);
  }
}

.wrapper.next .thumbnail-item:nth-last-child(1) {
  width: 0px;
  animation: outThumbnailExpaind 1s 0.5s linear forwards;
}

@keyframes outThumbnailExpaind {
  to {
    width: 150px;
    transform: translateX(-50%);
  }
}

/* prev style */

.wrapper.prev .carousel-item:nth-child(2) {
  z-index: 1;
}

.wrapper.prev .carousel-item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: carouselPrevEffect 1s 0.5s linear forwards;
}

@keyframes carouselPrevEffect {
  to {
    width: 150px;
    height: 220px;
    left: 40%;
    bottom: 30px;
    border-radius: 20px;
  }
}

.wrapper.prev .carousel-item:nth-child(2) .content-wrapper {
  opacity: 0;
}

.wrapper.prev .thumbnail-item:nth-child(1) {
  width: 0;
  animation: inThumbnailExpaind 1s 0.5s linear forwards;
}

@keyframes inThumbnailExpaind {
  to {
    width: 150px;
  }
}
