@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

.main-wrapper {
  width: 80%;
  margin-inline: auto;
  max-width: 1140px;
}

.main-wrapper-ab {
  width: 80%;
  max-width: 1140px;
  left: 50%;
  transform: translateX(-50%);
}

.test {
  border: 1px solid red;
}

#path::after,
#path::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(168, 169, 170);
  border-radius: 100%;
  position: absolute;
  left: -6px;
}

#path::before {
  top: 0;
}
