@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-wrapper {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --color-primary: 246 245 242;
  --color-text-green: 0 255 153;
  --color-text-default: 47 51 49;
  /* 246 245 242 */
}
.dark {
  --color-primary: 28 28 34;
  --color-text-default: 247 241 241;
}
.test {
  border: 1px solid red;
}

#test-color {
  filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(5%)
    hue-rotate(126deg) brightness(99%) contrast(101%);
}

.dark #test-color {
  filter: none;
}
