.wrapper {
  width: inherit;
  height: inherit;
  position: relative;
  min-height: 10px;
  min-width: 100px;
}

.input {
  position: absolute;
  inset: 0;
  background-color: transparent;
  letter-spacing: 0.05em;
  padding: 1em 0.25em 0.25em 1rem;
  font-size: inherit;
  border-radius: inherit;
}
.input:autofill {
  background-color: transparent;
}

.input:focus {
  top: 1/2;
  outline: none;
  background-color: transparent;
}

.label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: 0 0;
  transition: 0.2s ease-in-out;
  padding: 0 0.25em 0 1.1rem;
  font-size: inherit;
  cursor: pointer;
}

.input:focus + label,
.input:not(:placeholder-shown) + label {
  transform: translateY(-90%) scale(0.9);
  font-weight: 500;
  letter-spacing: 1px;
}
