@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #23424a;
}

.hero {
  width: 80%;
  max-width: 1100px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 0 auto;
  padding: 100px 0;
}

.text-wrapper {
  width: 60%;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 56px;
}

p {
  line-height: 31px;
  color: #dee3e4;
  padding-top: 1em;
}

button {
  background-color: #38cfd9;
  padding: 1em 3em;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin: 2em 0;
}
